
.container {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "head  head head head head"
    "sl sl nav nav nav"
    ""
    ;
    grid-gap: 10px;
}

.box {
    background: #aaa;
    color: #fff;
    text-align: center;
}

.head {
    grid-area: head;
}

.nav {
    grid-area: nav;
}

.sidelef {
    grid-area: sl;
}

.content {
    grid-area: cont;
}

.footer {
    grid-area: footer;
}
